<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Films
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Films</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let film of films" (click)="openDetailsFilm(film)">
      <ion-avatar slot="start">
        <!-- <img src="assets/img/starwars.jpg" /> -->
        <ion-img [src]="loadPosterFilm(film.poster_path)"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ film.title }}</h2>
        <p>{{ film.overview }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
